/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Lato:400,300,700';
@import 'https://fonts.googleapis.com/css?family=Arvo:400,700';


// Global variables
// ========================================================================

//
// Text
//

@global-color:									#535756;
@global-muted-color:							#9ea4a2;

@global-link-color:								#3aad8d;
@global-link-hover-color:						darken(@global-link-color, 20%);

@global-dark-color:								#2c3230;

@global-font-weight: 							300;

//
// Backgrounds & Borders
//

@global-body-style: 							'turquoise';

@global-light-background: 						#f7f7f7;

@global-nav-hover-background:					#f5f5f5;

@global-background:								#f0f0f0;

//
// Gradients
//

@global-default-gradient-top:					#f9f9f9;
@global-default-gradient-bottom:				#f0f0f0;

@global-primary-gradient-top:					#46c09c;
@global-primary-gradient-bottom:				#39ac8d;

@global-success-gradient-top:					#8edb8c;
@global-success-gradient-bottom:				#6cc36e;

@global-warning-gradient-top:					#ffcb5c;
@global-warning-gradient-bottom:				#f3b53e;

@global-danger-gradient-top:					#e55761;
@global-danger-gradient-bottom:					#d83558;


// Component variables
// ========================================================================

//
// Base
//

@base-body-font-family: 						'Lato';

@base-heading-font-family: 						'Arvo';

@base-em-color:									#d94c4c;

@base-code-color:								#7ba0c6;

//
// Panel
//

@panel-box-primary-background:					#3aae8e;
@panel-box-primary-color:						#deffec;
@panel-box-primary-title-color:					#fff;

//
// Nav
//

@nav-side-active-background:					#3aae8e;

//
// Navbar
//

@navbar-nav-font-family: 						'Lato';

@navbar-nav-hover-background:					rgba(255,255,255,0.06);
@navbar-nav-active-background:					darken(@global-primary-background, 10%);

@navbar-gradient-top:							#3a3f47;
@navbar-gradient-bottom:						#252a31;

@navbar-nav-hover-box-shadow:					rgba(0,0,0,0);

//
// Overlay
//

@overlay-caption-background:					rgba(14,14,15,0.5);

//
// Off-canvas
//

@offcanvas-background:							rgba(14,14,15,0.1);

@offcanvas-bar-background:						#3f4147;