/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Dosis:400,300,700';
@import 'https://fonts.googleapis.com/css?family=Ropa+Sans';


// Global variables
// ========================================================================

//
// Text
//

@global-color:									#4f5054;
@global-muted-color:							#9b9ca5;

@global-link-color:								#a54d60;
@global-link-hover-color:						darken(@global-link-color, 20%);

@global-dark-color:								#2c2d30;

@global-font-weight: 							300;

//
// Backgrounds & Borders
//

@global-body-style: 							'lilac';

@global-light-background: 						#f7f7f7;

@global-nav-hover-background:					#f5f5f5;

@global-background:								#fefbf8;

//
// Gradients
//

@global-default-gradient-top:					#fffbf9;
@global-default-gradient-bottom:				#f4efed;

@global-primary-gradient-top:					#6d6487;
@global-primary-gradient-bottom:				#4a416d;

@global-success-gradient-top:					#a2dbac;
@global-success-gradient-bottom:				#89c38d;

@global-warning-gradient-top:					#eedd7d;
@global-warning-gradient-bottom:				#e8c96b;

@global-danger-gradient-top:					#d57b90;
@global-danger-gradient-bottom:					#ae445f;


// Component variables
// ========================================================================

//
// Base
//

@base-body-font-family: 						'Dosis';

@base-heading-font-family: 						'Ropa Sans';
@base-heading-font-weight:						400;
@base-heading-text-transform:					uppercase;

@base-em-color:									#4f4571;

@base-code-color:								#457166;

//
// Panel
//

@panel-title-text-transform:					uppercase;

@panel-box-primary-background:					#6c6386;
@panel-box-primary-color:						#e4e6ff;
@panel-box-primary-title-color:					#fff;

//
// Article
//

@article-title-text-transform:					uppercase;

//
// Nav
//

@nav-side-active-background:					#6c6386;

//
// Navbar
//

@navbar-nav-font-family: 						'Dosis';

@navbar-color:									@global-color;
@navbar-link-color:								@global-link-color;
@navbar-link-hover-color:						@global-link-hover-color;

@navbar-toggle-color:							fade(@global-color, 60%);
@navbar-toggle-hover-color:						@global-color;

@navbar-nav-color:								@global-color;
@navbar-nav-hover-color:						@global-dark-color;
@navbar-nav-hover-background:					rgba(0,0,0,0.03);
@navbar-nav-active-color:						@global-contrast-color;
@navbar-nav-active-background:					@global-primary-background;
@navbar-nav-onclick-color:						@global-link-color;
@navbar-nav-onclick-background:					rgba(0,0,0,0.08);

@navbar-brand-color:							fade(@global-dark-color, 90%);
@navbar-brand-hover-color:						@global-dark-color;

@navbar-gradient-top:							@global-default-gradient-top;
@navbar-gradient-bottom:						#f4efed;

@navbar-box-shadow:								rgba(0,0,0,0.06);

@navbar-nav-hover-box-shadow:					rgba(0,0,0,0);

@navbar-nav-active-gradient-top:				darken(@global-primary-gradient-top, 10%);
@navbar-nav-active-gradient-bottom:				darken(@global-primary-gradient-bottom, 10%);

//
// Tab
//

@tab-gradient-top:								@global-default-gradient-top;
@tab-gradient-bottom:							@global-default-gradient-bottom;

//
// Overlay
//

@overlay-caption-background:					rgba(14,14,15,0.5);

//
// Off-canvas
//

@offcanvas-background:							rgba(14,14,15,0.1);

@offcanvas-bar-background:						#3f4147;