/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700';
@import 'https://fonts.googleapis.com/css?family=Enriqueta:400,700';


// Global variables
// ========================================================================

//
// Text
//

@global-color:									#515355;
@global-muted-color:							#94979a;

@global-link-color:								#ef5a4f;
@global-link-hover-color:						darken(@global-link-color, 20%);

@global-dark-color:								#262829;

@global-font-weight: 							300;

//
// Backgrounds & Borders
//

@global-body-style: 							'salmon';

@global-light-background: 						#f7f7f7;

@global-nav-hover-background:					#f5f5f5;

@global-background:								#f0f0f0;

//
// Gradients
//

@global-default-gradient-top:					#f9f9f9;
@global-default-gradient-bottom:				#f0f0f0;

@global-primary-gradient-top:					#ff7761;
@global-primary-gradient-bottom:				#ef5a4f;

@global-success-gradient-top:					#8edb8c;
@global-success-gradient-bottom:				#6cc36e;

@global-warning-gradient-top:					#ffcb5c;
@global-warning-gradient-bottom:				#f3b53e;

@global-danger-gradient-top:					#78cdec;
@global-danger-gradient-bottom:					#40b1db;


// Component variables
// ========================================================================

//
// Base
//

@base-body-font-family: 						'Open Sans';

@base-heading-font-family: 						'Enriqueta';
@base-heading-font-weight:						400;

@base-em-color:									#46b0d3;

@base-code-color:								#7d9762;

//
// Panel
//

@panel-box-primary-background:					#ef5a4f;
@panel-box-primary-color:						#ffe3de;
@panel-box-primary-title-color:					#fff;

//
// Nav
//

@nav-side-active-background:					#ef5a4f;

//
// Navbar
//

@navbar-nav-font-family: 						'Open Sans';

@navbar-nav-hover-background:					rgba(2,3,4,0.1);
@navbar-nav-active-background:					darken(@global-primary-background, 10%);

@navbar-gradient-top:							#2f3138;
@navbar-gradient-bottom:						#1f2227;

@navbar-nav-hover-box-shadow:					rgba(16,17,19,0.2);

//
// Overlay
//

@overlay-caption-background:					rgba(16,17,19,0.5);

//
// Off-canvas
//

@offcanvas-background:							rgba(16,17,19,0.1);

@offcanvas-bar-background:						#1f2227;