/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700';


// Global variables
// ========================================================================

//
// Text
//

@global-color:									#515456;
@global-muted-color:							#92969a;

@global-link-color:								#54aacb;
@global-link-hover-color:						darken(@global-link-color, 20%);

@global-dark-color:								#2a2d31;

@global-font-weight: 							300;

//
// Backgrounds & Borders
//

@global-body-style: 							'blue';

@global-light-background: 						#f7f7f7;

@global-nav-hover-background:					#f5f5f5;

@global-background:								#f0f1f3;

//
// Gradients
//

@global-default-gradient-top:					#f9f9f9;
@global-default-gradient-bottom:				#f0f0f0;

@global-primary-gradient-top:					#66b2d1;
@global-primary-gradient-bottom:				#44a3c6;

@global-success-gradient-top:					#82d2ad;
@global-success-gradient-bottom:				#63b98f;

@global-warning-gradient-top:					#ffb23d;
@global-warning-gradient-bottom:				#fd9c1e;

@global-danger-gradient-top:					#e55761;
@global-danger-gradient-bottom:					#d83558;


// Component variables
// ========================================================================

//
// Base
//

@base-body-font-family: 						'Roboto Condensed';

@base-heading-font-family: 						'Roboto Condensed';
@base-heading-text-transform:					uppercase;

@base-em-color:									#ac6b66;

@base-code-color:								#7a769a;

//
// Panel
//

@panel-title-text-transform:					uppercase;

@panel-box-primary-background:					#54aacb;
@panel-box-primary-color:						#d1efff;
@panel-box-primary-title-color:					#fff;

//
// Article
//

@article-title-text-transform:					uppercase;

//
// Nav
//

@nav-side-active-background:					#54aacb;

//
// Navbar
//

@navbar-nav-font-family: 						'Roboto Condensed';
@navbar-gradient-top:							#3f4246;
@navbar-gradient-bottom:						#2a2d30;

//
// Overlay
//

@overlay-caption-background:					rgba(2,2,3,0.5);

//
// Off-canvas
//

@offcanvas-background:							rgba(2,2,3,0.1);

@offcanvas-bar-background:						#2a2d30;
