/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

@dropdown-z-index:                              (@global-z-index + 20);
@dropdown-background:                           #fff;
@dropdown-color:                                @global-color;

@dropdown-divider-border:                       @global-border;

@dropdown-navbar-margin:                        6px;
@dropdown-navbar-background:                    #fff;
@dropdown-navbar-color:                         @global-color;

@dropdown-search-background:                    #fff;
@dropdown-search-color:                         @global-color;
@dropdown-search-navbar-margin-top:             ((@navbar-nav-height - @search-height) / 2);
@dropdown-search-navbar-margin-right:           -@navbar-nav-padding-horizontal;

//
// New
//

@dropdown-border:                               rgba(0,0,0,0.12);
@dropdown-box-shadow:                           rgba(0,0,0,0.06);


// Component
// ========================================================================

.hook-dropdown() {
    border: 1px solid @dropdown-border;
    box-shadow: 0 6px 8px @dropdown-box-shadow;
}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

.hook-dropdown-navbar() {
    left: -1px;
    border: 1px solid @dropdown-border;
    background-clip: padding-box;
    box-shadow: 0 6px 8px @dropdown-box-shadow;
}


// Modifier: `uk-dropdown-search`
// ========================================================================

.hook-dropdown-search() {}


// Miscellaneous
// ========================================================================

.hook-dropdown-misc() {

    .uk-dropdown-navbar.uk-dropdown-flip { left: auto; }

}