/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Off-canvas
//
// ========================================================================


// Variables
// ========================================================================

@offcanvas-z-index:                                     @global-z-index;
@offcanvas-background:                                  rgba(0,0,0,0.1);
@offcanvas-bar-background:                              #2f2f2f;

@offcanvas-panel-title-color:                           @offcanvas-panel-link-color;

@offcanvas-search-background:                           darken(@offcanvas-bar-background, 10%);
@offcanvas-search-color:                                @offcanvas-panel-link-color;
@offcanvas-search-placeholder-color:                    @offcanvas-panel-color;
@offcanvas-search-icon-color:                           @offcanvas-panel-color;

//
// New
//

@offcanvas-panel-text-shadow:                           rgba(0,0,0,0.1);


// Component
// ========================================================================

.hook-offcanvas() {}


// Sub-object `uk-offcanvas-bar`
// ========================================================================

.hook-offcanvas-bar() {}


// Panel in offcanvas
// ========================================================================

.hook-offcanvas-panel() {
    text-shadow: 0 1px 0 @offcanvas-panel-text-shadow;
}


// Search in offcanvas
// ========================================================================

.hook-offcanvas-search-field() {}


// Miscellaneous
// ========================================================================

.hook-offcanvas-misc() {

    .uk-offcanvas-bar:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background: rgba(0,0,0,0.6);
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    }

    .uk-offcanvas-bar-flip:after {
        right: auto;
        left: 0;
        width: 1px;
        background: rgba(0,0,0,0.6);
        box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
    }

}