/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Utility component
//
// ========================================================================


// Variables
// ========================================================================

@utility-container-padding-horizontal:							@global-grid-gutter;

@utility-container-large-max-width:								980px;
@utility-container-large-padding-horizontal:					@global-grid-large-gutter;

@utility-align-horizontal:										@global-margin;
@utility-align-vertical:										@global-margin;

@utility-margin:                                                @global-margin;

@utility-heading-large-font-size:								round(@global-font-size * 3.71);
@utility-heading-large-line-height:								round(@utility-heading-large-font-size * 1.23);

@utility-link-muted-color:										@global-color;
@utility-link-muted-hover-color:								@global-color;

@utility-scrollable-box-border:									@global-border;


// Container
// ========================================================================

.hook-container() {}


// Scrollable
// ========================================================================

.hook-scrollable-box() { border-radius: @global-border-radius; }


// Miscellaneous
// ========================================================================

.hook-utility-misc() {}