/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700';


// Global variables
// ========================================================================

//
// Text
//

@global-color:									#4f5054;
@global-muted-color:							#9b9ca5;

@global-link-color:								#c35967;
@global-link-hover-color:						darken(@global-link-color, 20%);

@global-dark-color:								#2c2d30;

@global-font-weight: 							300;

//
// Backgrounds & Borders
//

@global-body-style: 							'graphite';

@global-light-background: 						#f7f7f7;

@global-nav-hover-background:					#f5f5f5;

@global-background:								#f9fafa;

//
// Gradients
//

@global-default-gradient-top:					#f9f9f9;
@global-default-gradient-bottom:				#f0f0f0;

@global-primary-gradient-top:					#4e535a;
@global-primary-gradient-bottom:				#404348;

@global-success-gradient-top:					#a8d5a5;
@global-success-gradient-bottom:				#8bb989;

@global-warning-gradient-top:					#e7ca9e;
@global-warning-gradient-bottom:				#dcb47f;

@global-danger-gradient-top:					#e38590;
@global-danger-gradient-bottom:					#cd5868;


// Component variables
// ========================================================================

//
// Base
//

@base-body-font-family: 						'Open Sans';

@base-heading-font-family: 						'Open Sans';

@base-em-color:									#868ea8;

@base-code-color:								#7a769a;

//
// Panel
//

@panel-box-primary-background:					#4d5159;
@panel-box-primary-color:						#c3c8d1;
@panel-box-primary-title-color:					#fff;

//
// Nav
//

@nav-side-active-background:					#4d5159;

//
// Navbar
//

@navbar-nav-font-family: 						'Open Sans';

@navbar-nav-hover-background:					rgba(255,255,255,0.06);
@navbar-nav-hover-color:						@global-contrast-color;
@navbar-nav-active-background:					darken(@global-primary-background, 10%);
@navbar-nav-onclick-color:						@global-contrast-color;
@navbar-nav-onclick-background:					rgba(255,255,255,0.1);

@navbar-gradient-top:							#4e535a;
@navbar-gradient-bottom:						#3f4147;

@navbar-nav-hover-box-shadow:					rgba(0,0,0,0);

@navbar-nav-active-gradient-top:				darken(@global-primary-gradient-top, 10%);
@navbar-nav-active-gradient-bottom:				darken(@global-primary-gradient-bottom, 10%);

@navbar-text-transform:							none;

//
// Overlay
//

@overlay-caption-background:					rgba(14,14,15,0.5);

//
// Off-canvas
//

@offcanvas-background:							rgba(14,14,15,0.1);

@offcanvas-bar-background:						#3f4147;
