/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

@import 'https://fonts.googleapis.com/css?family=Fjord+One';
@import 'https://fonts.googleapis.com/css?family=Lato:400,300,700';


// Global variables
// ========================================================================

//
// Text
//

@global-color:									#555;
@global-muted-color:							#999;

@global-link-color:								#bfa580;
@global-link-hover-color:						darken(@global-link-color, 20%);

@global-dark-color:								#222;

@global-font-weight: 							400;

//
// Backgrounds & Borders
//

@global-body-style: 							'gold';

@global-light-background: 						#f7f7f7;

@global-nav-hover-background:					#f5f5f5;

@global-background:								#f0f0f0;

//
// Gradients
//

@global-default-gradient-top:					#f9f9f9;
@global-default-gradient-bottom:				#f0f0f0;

@global-primary-gradient-top:					#d5bd97;
@global-primary-gradient-bottom:				#bca17c;

@global-success-gradient-top:					#82d2ad;
@global-success-gradient-bottom:				#60b68c;

@global-warning-gradient-top:					#e7ca9e;
@global-warning-gradient-bottom:				#dcb47f;

@global-danger-gradient-top:					#c1767b;
@global-danger-gradient-bottom:					#ac5c6f;


// Component variables
// ========================================================================

//
// Base
//

@base-body-font-family: 						'Lato';
@base-body-font-weight:							300;

@base-heading-font-family: 						'Fjord One';

@base-em-color:									#6e82ba;

@base-code-color:								#7a769a;

//
// Panel
//

@panel-box-primary-background:					#cbb18c;
@panel-box-primary-color:						#fffbeb;
@panel-box-primary-title-color:					#fff;

//
// Nav
//

@nav-side-active-background:					#cbb18c;

//
// Navbar
//

@navbar-nav-font-family: 						'Fjord One';
@navbar-nav-font-size:							@global-font-size;

@navbar-nav-hover-background:					rgba(255,255,255,0.06);
@navbar-nav-active-background:					darken(@global-primary-background, 10%);

@navbar-gradient-top:							#353537;
@navbar-gradient-bottom:						#222324;

@navbar-nav-hover-box-shadow:					rgba(0,0,0,0);

@navbar-nav-active-gradient-top:				darken(@global-primary-gradient-top, 10%);
@navbar-nav-active-gradient-bottom:				darken(@global-primary-gradient-bottom, 10%);

//
// Overlay
//

@overlay-caption-background:					rgba(0,0,0,0.5);

//
// Off-canvas
//

@offcanvas-background:							rgba(0,0,0,0.1);

@offcanvas-bar-background:						#222324;