/* CUSTOMER FORM - START */

.view-customerform .customer-form-sections:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.view-customerform .customer-form-section {
	margin-top:10px;
}

.view-customerform .customer-form-section-delivery .customer-form-fields {
	display:none;
}

.view-customerform .show-delivery-fields .customer-form-section-delivery .customer-form-fields {
	display:block;
}

.view-customerform .customer-form-section-delivery .text-address-heading,
.view-customerform .customer-form-section-heading .different-shipping-address-toggle {
	display:inline-block;
}

.view-customerform .customer-form-section-heading .different-shipping-address-toggle {
	margin-left:3px;
}

.view-customerform .text-address-heading {
	font-weight:bold;
}

.view-customerform .customer-field:before {
	content:'';
	clear:both;
	display:table;
}

.view-customerform .customer-field:after {
	content:'';
	clear:both;
	display:table;
}

.view-customerform .form-field {
	position:relative;
	white-space: nowrap;
}

.view-customerform .field-label:after {
	content:'*';
	padding-left:2px;
	visibility: hidden;
	color:#666;
}

.view-customerform .customer-field-register .field-label:after {
	display:none;
}

.view-customerform .required-field .field-label:after {
	visibility: visible;
}

.view-customerform input[type=checkbox] {
	position: relative;
	top: -2px;
	margin-right: 1px;
	margin-top: 0;
}

.view-customerform .customer-field {
	margin:5px 0px;
}

.view-customerform .unused-field {
	display:none;
}

.view-customerform .has-no-data {
	display:none;
}

.view-customerform .customer-field.uses-dropdown-instead,
.view-customerform .customer-field.uses-textfield-instead {
	display:none;
}

.view-customerform select {
	width:100%;
	margin-bottom:0px;
}

.view-customerform .chosen-container {
	width:100%!important;
}

.view-customerform .invalid {
	color:inherit;
	font-weight:normal;
}

.view-customerform .customer-form-sections .chosen-container,
.view-customerform .customer-form-sections .form-control {
	margin-bottom:5px;
	outline:none;
}

.view-customerform .account-exists-section {
	display:none;
}

.view-customerform .required .field-label:after {
	content:'*';
}

.view-customerform .validation-tooltip {
	display: block;
	position: absolute;
	top: 7px;
	right: 8px;
	width: 18px;
	visibility: hidden;
	background:#fff;
}

.view-customerform .valid .validation-tooltip,
.view-customerform .invalid .validation-tooltip {
	visibility: visible;
}

.view-customerform .invalid .validation-tooltip:before {
	font-family: FontAwesome;
	content: "\f06a";
	color: #d3343d;
	font-size: 1.5em;
}

.view-customerform .valid .validation-tooltip:before {
	font-family: FontAwesome;
	content: "\f058";
	color:#1abb1a;
	font-size: 1.5em;
	display:none;
}

.view-customerform .form-field input[type=radio] {
	position:relative;
	top:-2px;
	margin-right:1px;
}

.view-customerform .customer-field-newsletter label {
	margin-top:4px;
}

.view-checkout .order-address-buttons {
	text-align:center;
	margin:20px auto;
}

.view-customerform .recurring-customer-login {
	margin-top:20px;
	margin-bottom:20px;
}

.view-customerform .recurring-customer-login .login-wrapper {
	display:none;
}

.view-customerform .recurring-customer-login .form-control {
	margin-top:10px;
	margin-bottom:10px;
}

.view-customerform .recurring-customer-login .login-box,
.view-customerform .recurring-customer-login .change-password-box,
.view-customerform .recurring-customer-login .recover-box {
	margin:10px 0;
}

.view-customerform .recurring-customer-login .change-password-box,
.view-customerform .recurring-customer-login .recover-box {
	display:none;
}

.view-customerform .recurring-customer-login .recover-box .input {
	display:block;
	margin:5px 0;
}

.view-customerform .recurring-customer-login .wrapper-show-login-box input {
	position:relative;
	top:-2px;
}

.view-customerform .recurring-customer-login .wrapper-show-login-box label {
	margin-left:4px;
}

.view-customerform .recurring-customer-login .info-text {
	margin:5px 0;
}

.view-customerform .recurring-customer-login .feedback {
	color: #d3343d;
	margin:5px 0;
}

.view-customerform .recurring-customer-login .feedback:empty {
	display:none;
}

/* CUSTOMER FORM - END */