@CHARSET "UTF-8";

html, body {
	margin:0;
	padding:0;
}

body {
	margin-top:110pt;
	margin-bottom:100pt;
	margin-left:1.5cm;
	margin-right:1.5cm;

	font-family: Helvetica;
	font-size:9pt;
}

#view-quotation table {
	border-collapse: collapse;
}

#view-quotation th {
	text-align:left;
}

#view-quotation .layout-table {
	width:100%;
}

#view-quotation .layout-table td {
	border:none;
	padding:0;
}

#view-quotation .layout-table td.left-column,
#view-quotation .layout-table td.right-column {
	padding:0px;
	vertical-align: top;
}

#view-quotation .layout-table td.right-column {
	text-align:right;
}

#view-quotation .order-data {
	float:right;
}

#view-quotation .customer-information {
	margin-top:80pt;
	margin-bottom:25pt;
}

#view-quotation .customer-information .left-column .wrapper {
	height:70pt;
}

#view-quotation .customer-information .right-column .key {
	font-weight:bold;
	padding-right:4pt;
}

#view-quotation .customer-information .right-column .value {
	text-align:right;
}

#view-quotation .order-base-data .order-id {
	margin-top:1em;
}

#view-quotation .wrapper-order-overview {
	margin-top:18pt;
	margin-bottom:18pt;
}

#view-quotation .wrapper-order-overview h2 {
	margin-bottom:8pt;
}

#view-quotation .order-overview table {
	width:100%;
}

#view-quotation .order-overview th {
	padding:3pt 5pt;
	border:1px solid #ddd;
	font-weight:bold;
	background-color:#efefef;
}

#view-quotation .order-overview td {
	padding:3pt 5pt;
	border:1px solid #ddd;
	vertical-align: bottom;
	line-height:1.3em;
}

#view-quotation .order-overview .item-price {
	text-align:right;
	white-space:nowrap;
	width:18pt;
}

#view-quotation .order-overview .position-tax-rate {
	color:#666;
	font-size:9pt;
}

#view-quotation .order-overview .sub-total-merchandise,
#view-quotation .order-overview .grand-total {
	font-weight:bold;
}

#view-quotation .order-overview .delivery-title,
#view-quotation .order-overview .payment-title {
	font-weight:bold;
}

#view-quotation .order-overview a {
	display:none;
}

#view-quotation .note-details-next-page {
	page-break-after: always;
}

#view-quotation .products-overview {
	margin-top:18pt;
	margin-bottom:18pt;
}

#view-quotation .products-overview h2 {
	margin-top:0;
}

#view-quotation .products-overview .position-image {
	margin-bottom:10pt;
}

#view-quotation .products-overview .position-configuration {
	width:100%!important;
}

#view-quotation .products-overview .position-record {
	width:100%;
}

#view-quotation .products-overview .position-selection-table {
	width:100%;
}

#view-quotation .products-overview .position-selection-table th {
	padding:3pt 5pt;
	background-color:#efefef;
	font-weight:bold;
	border:1px solid #ddd;
}

#view-quotation .products-overview .position-selection-table td {
	padding:3pt 5pt;
	border:1px solid #ddd;
}

#view-quotation .products-overview .position-details {
	margin-bottom:18pt;
	page-break-after: always;
}

#view-quotation .products-overview .position-details:last-of-type {
	margin-bottom: 0;
	page-break-after: avoid;
}

#view-quotation .products-overview .position-product-title {
	font-weight:bold;
	font-size:10pt;
	margin-bottom:2pt;
}

#view-quotation .products-overview .position-product-sku {
	color:#aaa;
	margin-top:0;
	margin-bottom:4pt;
}

#view-quotation .products-overview .position-total {
	font-weight:bold;
}

#view-quotation .products-overview .price-field {
	text-align:right;
	white-space:nowrap;
	width:18pt;
}

#view-quotation .products-overview .product-total .key,
#view-quotation .products-overview .element-title {
	display:inline-block;
	min-width:80pt;
}
